In [1]:
import pandas as pd

from pathlib import Path

In [2]:
#test_data_dict_2[symbol]['companyProfile']['isEtf']

In [3]:
## Load pickle for exports and imports of data  
import pickle 
def load_obj(path):
    with open(path, 'rb') as f:
        return pickle.load(f)
    
def save_obj(obj, path ):
    with open(path, 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [4]:
import_path = '../Resources/symbol_success_list_new.pkl'
datadict_success_list = load_obj(import_path)

len(datadict_success_list)

5493

In [7]:
dataframe = pd.DataFrame()
new_symbol_list = []

for symbol in datadict_success_list:
    import_path = '../FilesExport_Complete_DataDicts_2/'+symbol+'_updated_data_dict.pkl'
    import_data = load_obj(import_path)
    
    data = import_data[symbol]['ftd_stats']
    try:
        data['isEtf'] = import_data[symbol]['companyProfile']['isEtf'] 
    except:
        continue

    empty_dict = {}
    empty_dict[symbol] = data
       
    if symbol == 0:
        dataframe = pd.DataFrame.from_dict(empty_dict,orient='index')
    else: 
        dataframe2 = pd.DataFrame.from_dict(empty_dict,orient='index')
        dataframe = dataframe.append(dataframe2)
        
    new_symbol_list.append(symbol)
        

## Keep only FTD related columns (drop volume data)
dataframe = dataframe[['total_ftds_all','total_ftds_2021','total_ftds_ytd','total_ftds_month',
                      'os_ftd_pct_all','os_ftd_pct_2021','os_ftd_pct_ytd','os_ftd_pct_month',
                      'float_ftd_pct_all','float_ftd_pct_2021','float_ftd_pct_ytd','float_ftd_pct_month',
                      'isEtf']]
        
len(dataframe)

5478

In [8]:
etf_df = dataframe[dataframe['isEtf'] == True]
len(etf_df)

1297

In [9]:
stock_df = dataframe[dataframe['isEtf'] == False]
len(stock_df)

4181

In [10]:
## Stocks 

## Sort All-Time fails 
stock_df.sort_values('float_ftd_pct_all',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
BTCS,500095929.0,3852932.0,3505330.0,2259651.0,4840.082686,37.289865,33.925665,21.869600,8806.164700,67.846091,61.725184,39.790084,False
DCTH,147717003.0,777884.0,723240.0,38013.0,1932.513246,10.176697,9.461814,0.497307,2334.058062,12.291249,11.427826,0.600639,False
JRJC,2244063.0,924438.0,853942.0,11142.0,87.770035,36.156719,33.399472,0.435787,1145.631509,471.940984,435.951603,5.688176,False
NXTD,78318932.0,18147872.0,12215845.0,0.0,840.195131,194.687968,131.049968,0.000000,1026.631192,237.888477,160.129450,0.000000,False
IDXG,28803322.0,0.0,0.0,0.0,682.107564,0.000000,0.000000,0.000000,896.104387,0.000000,0.000000,0.000000,False

In [11]:
## Sort Highest fails since start of 2021 
stock_df.sort_values('float_ftd_pct_2021',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
INDP,17939142.0,17939142.0,17939142.0,65512.0,215.965242,215.965242,215.965242,0.788684,508.138162,508.138162,508.138162,1.855671,False
JRJC,2244063.0,924438.0,853942.0,11142.0,87.770035,36.156719,33.399472,0.435787,1145.631509,471.940984,435.951603,5.688176,False
CELZ,14840228.0,7825615.0,7745550.0,649818.0,195.406156,103.042443,101.988201,8.556367,732.645986,386.342138,382.389416,32.080811,False
ISIG,5807135.0,3699903.0,3653300.0,701638.0,325.169566,207.175458,204.565931,39.288104,562.237804,358.218870,353.706840,67.931503,False
CYRN,12022239.0,9904101.0,9822147.0,100135.0,13.161719,10.842822,10.753100,0.109626,394.973113,325.384781,322.692302,3.289789,False

In [12]:
## Sort Highest fails year-to-date
stock_df.sort_values('float_ftd_pct_ytd',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
INDP,17939142.0,17939142.0,17939142.0,65512.0,215.965242,215.965242,215.965242,0.788684,508.138162,508.138162,508.138162,1.855671,False
JRJC,2244063.0,924438.0,853942.0,11142.0,87.770035,36.156719,33.399472,0.435787,1145.631509,471.940984,435.951603,5.688176,False
CELZ,14840228.0,7825615.0,7745550.0,649818.0,195.406156,103.042443,101.988201,8.556367,732.645986,386.342138,382.389416,32.080811,False
ISIG,5807135.0,3699903.0,3653300.0,701638.0,325.169566,207.175458,204.565931,39.288104,562.237804,358.218870,353.706840,67.931503,False
CYRN,12022239.0,9904101.0,9822147.0,100135.0,13.161719,10.842822,10.753100,0.109626,394.973113,325.384781,322.692302,3.289789,False

In [13]:
## Sort Highest fails past month (January)
stock_df.sort_values('float_ftd_pct_month',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
LIXT,14219951.0,4632700.0,4618910.0,3404970.0,102.864080,33.511960,33.412206,24.630824,284.037043,92.536072,92.260623,68.012725,False
ISIG,5807135.0,3699903.0,3653300.0,701638.0,325.169566,207.175458,204.565931,39.288104,562.237804,358.218870,353.706840,67.931503,False
TSRI,737421.0,594528.0,590806.0,400415.0,36.683360,29.575079,29.389926,19.918835,111.080131,89.555692,88.995035,60.315818,False
BTCS,500095929.0,3852932.0,3505330.0,2259651.0,4840.082686,37.289865,33.925665,21.869600,8806.164700,67.846091,61.725184,39.790084,False
CELZ,14840228.0,7825615.0,7745550.0,649818.0,195.406156,103.042443,101.988201,8.556367,732.645986,386.342138,382.389416,32.080811,False

In [14]:
## ETFs 

## Sort All-Time fails 
etf_df.sort_values('os_ftd_pct_all',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.0,0.0,0.0,0.0,True
DUST,392072333.0,17120059.0,14203484.0,562171.0,6371.979077,278.236051,230.835729,9.136431,0.0,0.0,0.0,0.0,True
XRT,365970061.0,55298947.0,52243262.0,4104269.0,5223.339003,789.258952,745.646426,58.578530,0.0,0.0,0.0,0.0,True
JNUG,292048228.0,3406292.0,3225261.0,95727.0,4264.768418,49.741944,47.098355,1.397897,0.0,0.0,0.0,0.0,True
IDMO,10443766.0,155255.0,146788.0,1705.0,4049.038506,60.192221,56.909573,0.661027,0.0,0.0,0.0,0.0,True

In [15]:
## Sort Highest fails since start of 2021 
etf_df.sort_values('os_ftd_pct_2021',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.0,0.0,0.0,0.0,True
XRT,365970061.0,55298947.0,52243262.0,4104269.0,5223.339003,789.258952,745.646426,58.578530,0.0,0.0,0.0,0.0,True
UJB,1152446.0,689579.0,622710.0,67831.0,1131.746359,677.193138,611.525204,66.612655,0.0,0.0,0.0,0.0,True
SRTY,57194845.0,17910592.0,17007924.0,463826.0,1557.179503,487.631477,463.055554,12.628067,0.0,0.0,0.0,0.0,True
SBM,713548.0,186888.0,186831.0,3653.0,1738.198826,455.258094,455.119242,8.898687,0.0,0.0,0.0,0.0,True

In [16]:
## Sort Highest fails year-to-date
etf_df.sort_values('os_ftd_pct_ytd',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.0,0.0,0.0,0.0,True
XRT,365970061.0,55298947.0,52243262.0,4104269.0,5223.339003,789.258952,745.646426,58.578530,0.0,0.0,0.0,0.0,True
UJB,1152446.0,689579.0,622710.0,67831.0,1131.746359,677.193138,611.525204,66.612655,0.0,0.0,0.0,0.0,True
SRTY,57194845.0,17910592.0,17007924.0,463826.0,1557.179503,487.631477,463.055554,12.628067,0.0,0.0,0.0,0.0,True
SBM,713548.0,186888.0,186831.0,3653.0,1738.198826,455.258094,455.119242,8.898687,0.0,0.0,0.0,0.0,True

In [17]:
## Sort Highest fails past month (January)
etf_df.sort_values('os_ftd_pct_month',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
UNL,4211163.0,2328869.0,2303889.0,1972034.0,235.948444,130.484861,129.085249,110.491651,0.0,0.0,0.0,0.0,True
EFZ,19371637.0,4252781.0,4246632.0,2407456.0,769.004741,168.824594,168.580494,95.569883,0.0,0.0,0.0,0.0,True
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.0,0.0,0.0,0.0,True
CHII,3015345.0,2890692.0,2861693.0,1474297.0,156.094199,149.641335,148.140155,76.319363,0.0,0.0,0.0,0.0,True
REW,3648356.0,1226092.0,1221576.0,283147.0,951.830294,319.878737,318.700544,73.871051,0.0,0.0,0.0,0.0,True

In [18]:
## Both Stock and ETFs 

## Highest Quantity of Fails (All-Time)
dataframe.sort_values('total_ftds_all',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
HMNY,1.183597e+09,15723172.0,15013744.0,0.0,56.466674,0.750116,0.716271,0.000000,59.13489,0.785561,0.750117,0.0,False
SPY,8.447101e+08,109990037.0,108382334.0,4345419.0,90.874315,11.832780,11.659823,0.467482,0.00000,0.000000,0.000000,0.0,True
IWM,8.060305e+08,95131163.0,94052164.0,7083965.0,259.648381,30.644811,30.297230,2.281973,0.00000,0.000000,0.000000,0.0,True
QQQ,7.990482e+08,92801914.0,89898699.0,12757809.0,145.389357,16.885602,16.357353,2.321324,0.00000,0.000000,0.000000,0.0,True
EEM,6.764395e+08,92850307.0,86799215.0,6815451.0,109.628878,15.048020,14.067335,1.104563,0.00000,0.000000,0.000000,0.0,True

In [19]:
## Sort All-Time fails 
dataframe.sort_values('os_ftd_pct_all',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
SPCB,11516278.0,5794201.0,4185627.0,289659.0,57240.807197,28799.647100,20804.349123,1439.728615,58.004919,29.184096,21.082068,1.458948,False
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.000000,0.000000,0.000000,0.000000,True
DUST,392072333.0,17120059.0,14203484.0,562171.0,6371.979077,278.236051,230.835729,9.136431,0.000000,0.000000,0.000000,0.000000,True
XRT,365970061.0,55298947.0,52243262.0,4104269.0,5223.339003,789.258952,745.646426,58.578530,0.000000,0.000000,0.000000,0.000000,True
CYCCP,67173.0,5555.0,4109.0,690.0,5167.153846,427.307692,316.076923,53.076923,0.712605,0.058930,0.043590,0.007320,False

In [20]:
## Sort Highest fails since start of 2021 
dataframe.sort_values('os_ftd_pct_2021',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
SPCB,11516278.0,5794201.0,4185627.0,289659.0,57240.807197,28799.647100,20804.349123,1439.728615,58.004919,29.184096,21.082068,1.458948,False
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.000000,0.000000,0.000000,0.000000,True
XRT,365970061.0,55298947.0,52243262.0,4104269.0,5223.339003,789.258952,745.646426,58.578530,0.000000,0.000000,0.000000,0.000000,True
UJB,1152446.0,689579.0,622710.0,67831.0,1131.746359,677.193138,611.525204,66.612655,0.000000,0.000000,0.000000,0.000000,True
SRTY,57194845.0,17910592.0,17007924.0,463826.0,1557.179503,487.631477,463.055554,12.628067,0.000000,0.000000,0.000000,0.000000,True

In [21]:
## Sort Highest fails year-to-date
dataframe.sort_values('os_ftd_pct_ytd',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
SPCB,11516278.0,5794201.0,4185627.0,289659.0,57240.807197,28799.647100,20804.349123,1439.728615,58.004919,29.184096,21.082068,1.458948,False
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.000000,0.000000,0.000000,0.000000,True
XRT,365970061.0,55298947.0,52243262.0,4104269.0,5223.339003,789.258952,745.646426,58.578530,0.000000,0.000000,0.000000,0.000000,True
UJB,1152446.0,689579.0,622710.0,67831.0,1131.746359,677.193138,611.525204,66.612655,0.000000,0.000000,0.000000,0.000000,True
SRTY,57194845.0,17910592.0,17007924.0,463826.0,1557.179503,487.631477,463.055554,12.628067,0.000000,0.000000,0.000000,0.000000,True

In [22]:
## Sort Highest fails past month (January)
dataframe.sort_values('os_ftd_pct_month',ascending=False).head()

,total_ftds_all,total_ftds_2021,total_ftds_ytd,total_ftds_month,os_ftd_pct_all,os_ftd_pct_2021,os_ftd_pct_ytd,os_ftd_pct_month,float_ftd_pct_all,float_ftd_pct_2021,float_ftd_pct_ytd,float_ftd_pct_month,isEtf
SPCB,11516278.0,5794201.0,4185627.0,289659.0,57240.807197,28799.647100,20804.349123,1439.728615,58.004919,29.184096,21.082068,1.458948,False
UNL,4211163.0,2328869.0,2303889.0,1972034.0,235.948444,130.484861,129.085249,110.491651,0.000000,0.000000,0.000000,0.000000,True
EFZ,19371637.0,4252781.0,4246632.0,2407456.0,769.004741,168.824594,168.580494,95.569883,0.000000,0.000000,0.000000,0.000000,True
LABD,107708132.0,18513991.0,18176201.0,1191758.0,6940.386261,1192.985584,1171.219418,76.793281,0.000000,0.000000,0.000000,0.000000,True
CHII,3015345.0,2890692.0,2861693.0,1474297.0,156.094199,149.641335,148.140155,76.319363,0.000000,0.000000,0.000000,0.000000,True